.low {
  filter: invert(34%) sepia(38%) saturate(1769%) hue-rotate(120deg)
    brightness(97%) contrast(105%);
}
.mid {
  filter: invert(62%) sepia(87%) saturate(1983%) hue-rotate(13deg)
    brightness(109%) contrast(103%);
}
.high {
  filter: invert(10%) sepia(67%) saturate(7401%) hue-rotate(2deg)
    brightness(93%) contrast(86%);
}
.done {
  filter: invert(52%) sepia(0%) saturate(0%) hue-rotate(287deg) brightness(96%)
    contrast(90%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 12px;
  background-color: #ccc;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}
