@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.visible {
  transform: translateX(0);
}

.arrow-transition {
  transition: transform 0.3s ease;
}

.rotate-90 {
  transform: rotate(90deg);
}
